.medium-internship-card {
    margin-bottom: 2rem;
    width: 33rem;
    height: 16rem;
}

@media screen and (max-width: 960px) {
    .medium-internship-card {
        height: auto;
        width: 100%;
    }
}