.big-internship-card {
    margin-bottom: 2rem;
    width: 33rem;
    height: 28rem;
}

.icon:hover {
    transform: scale(1.15);
    transition: 0.25s;
}

@media screen and (max-width: 960px) {
    .big-internship-card {
        height: auto;
        width: 100%;
    }
}