<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules>
                <remove name="UrlAuthorization" />
                <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule"  />			
        </modules>
        <rewrite>
            <rules>
                <rule name="RedirectHTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found" />
                </rule>
                <rule name="ReactRouter Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                            <!-- unless its a file -->
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                            <!-- or a directory -->
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                            <!-- list other routes or route prefixes here if you need to handle them server side -->
                        </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>