<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules>
                <remove name="UrlAuthorization" />
                <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule"  />			
        </modules>
        <rewrite>
            <rules>
                <rule name="ReactRouter Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                            <!-- unless its a file -->
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                            <!-- or a directory -->
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                            <!-- or is under the /api directory -->
                            <add input="{REQUEST_URI}" pattern="^/(secure)" negate="true" />
                            <add input="{REQUEST_URI}" pattern="^/(scripts)" negate="true" />
                            <add input="{REQUEST_URI}" pattern="^/(empresas)" negate="true" />
                            <add input="{REQUEST_URI}" pattern="^/(upload)" negate="true" />
                            <add input="{REQUEST_URI}" pattern="^/(faina)" negate="true" />
                            <!-- list other routes or route prefixes here if you need to handle them server side -->
                        </conditions>
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="ReactRouter Routes Empresas" stopProcessing="true">
                    <match url="./empresas/*" />
                    <conditions logicalGrouping="MatchAll">
                            <!-- unless its a file -->
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                            <!-- or a directory -->
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                            <!-- or is under the /api directory -->
                            <!-- list other routes or route prefixes here if you need to handle them server side -->
                        </conditions>
                    <action type="Rewrite" url="./empresas/index.php" />
                </rule>
                <rule name="RedirectHTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>