/* Add wave animation */
@keyframes wave {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-30%);
    }
    50%{
      transform: translateX(0%);
    }
    75%{
        transform: translateX(30%);
    }
    100%{
      transform: translateX(0%);
    }

  }
  
  /* Styling for waves */
  .wave {
    position: absolute;
    bottom: 0;
    left: -50%;
    width: 200%; /* Make the wave container wider than the visible area */
    height: 30px; /* Adjust the height for wave size */
    background: rgba(255, 255, 255, 0.4); /* Light blue for waves */
    opacity: 0.8;
    border-radius: 40%; /* Curved wave */
  }
  
  .wave1 {
    animation: wave 10s infinite linear;
    z-index: 1;
  }
  
  .wave2 {
    animation: wave 10s infinite linear;
    animation-delay: -5s; /* Delays the second wave for a more dynamic effect */
    z-index: 0;
  }
  