@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS reset begin */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* CSS reset end */
