.list-view-header {
    font-weight: bold;
    border-bottom: 2px solid lightgrey;
    padding-top: 6px;
    padding-bottom: 6px;
}

.list-view-item {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #dfdfdf;
}

.list-view-item:hover {
    background-color: #ebebeb;
}

.list-view-name, .list-view-subject-name, .list-view-subject-short {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}