.badge {
    color: white;
    margin-left: 6px;
}

.tag-summary {
    background-color: blue;
}
.tag-tests {
    background-color: crimson;
}
.tag-biblio {
    background-color: purple;
}
.tag-slides {
    background-color: green;
}
.tag-exercises {
    background-color: orange;
}
.tag-projects {
    background-color: turquoise;
}
.tag-notebook {
    background-color: khaki;
}

.react-select {
    padding-bottom: 1em;
}