.lista {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.gender-list {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 22%;
    margin-left: 39%;
    margin-right: 39%;
}

.image-wrapper {
    height: 500px;
}

.games-section {
    margin-top: 3rem;
}

.column {
    text-align: center;
}

.column-header {
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
    display: flex;
    width: 40vw;
    justify-content: space-between;
}

.carousel-image-wrapper {
    height: 500px;
}

ul li{
    position: relative;
    text-align: center;
}

ul li:hover {
    cursor: pointer;
}

li.act::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 65%;
    background-color: green;
    left:12px;
    bottom: -5px;
    border-radius: 2px;
    animation: appear 0.3s linear;
}

@media screen and (max-width: 960px) { 
    .lista ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    ul {
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    .gender-list .slideUpFade {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 !important;
        padding: 1rem 0 0 0 !important;
    }

    .carousel-image-wrapper {
        height: 400px;
    }
}

@keyframes appear {
    from {
        width: 0;
    }
    to {
        width: 65%;
    }
}