.lista {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.image-wrapper {
    height: 500px;
}

.image-wrapper img {
    height: 100%;
    object-fit: "cover";
}


ul {
    list-style-type: none;
    display: flex;
    width: 40vw;
    justify-content: space-between;
}

ul li{
    position: relative;
    text-align: center;
}

ul li:hover {
    cursor: pointer;
}

li.act::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 65%;
    background-color: green;
    left:12px;
    bottom: -5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    animation: appear 0.3s linear;
}
@keyframes appear {
    from {
        width: 0;
    }
    to {
        width: 65%;
    }
}