.par {
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 8em;
    padding-right: 8em;
    background-color: rgb(78, 156, 54);
    position: relative;
    color: white;
}

.par2 {
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 8em;
    padding-right: 8em;
    background-color: #222222;
    position: relative;
    color: white;
}

.impar {
        padding-top: 4em;
        padding-bottom: 4em;
        padding-left: 8em;
        padding-right: 8em;
        background-color: white;
        color: black;
        position: relative;

}

