.UserTooltip:after,
.UserTooltip:before {
  content: "";
  display: inline-block;
  left: 50%;
  position: absolute;
}

.UserTooltip:before {
  border: 8px solid #0000;
  border-bottom: 8px solid hsl(var(--b3));
  margin-left: -9px;
  top: -16px;
}

.UserTooltip:after {
  border: 7px solid #0000;
  border-bottom: 7px solid hsl(var(--b2));
  margin-left: -8px;
  top: -14px;
}

.UserTooltip--bottom-left:after,
.UserTooltip--bottom-left:before,
.UserTooltip--bottom-right:after,
.UserTooltip--bottom-right:before,
.UserTooltip--bottom:after,
.UserTooltip--bottom:before {
  border-bottom-color: #0000;
  top: auto;
}

.UserTooltip--bottom-left:before,
.UserTooltip--bottom-right:before,
.UserTooltip--bottom:before {
  border-top-color: hsl(var(--b3));
  bottom: -16px;
}

.UserTooltip--bottom-left:after,
.UserTooltip--bottom-right:after,
.UserTooltip--bottom:after {
  border-top-color: hsl(var(--b2));
  bottom: -14px;
}

.UserTooltip--bottom-right,
.UserTooltip--top-right {
  margin-right: 0;
  right: -9px;
}

.UserTooltip--bottom-right:after,
.UserTooltip--bottom-right:before,
.UserTooltip--top-right:after,
.UserTooltip--top-right:before {
  left: auto;
  margin-left: 0;
}

.UserTooltip--bottom-right:before,
.UserTooltip--top-right:before {
  right: 20px;
}

.UserTooltip--bottom-right:after,
.UserTooltip--top-right:after {
  right: 21px;
}

.UserTooltip--bottom-left,
.UserTooltip--top-left {
  left: -9px;
  margin-left: 0;
}

.UserTooltip--bottom-left,
.UserTooltip--bottom-right {
  bottom: 100%;
}

.UserTooltip--bottom-left:after,
.UserTooltip--bottom-left:before,
.UserTooltip--top-left:after,
.UserTooltip--top-left:before {
  left: 24px;
  margin-left: 0;
}
/* 
.UserTooltip--left-bottom:after,
.UserTooltip--left-bottom:before,
.UserTooltip--left-top:after,
.UserTooltip--left-top:before,
.UserTooltip--left:after,
.UserTooltip--left:before,
.UserTooltip--right-bottom:after,
.UserTooltip--right-bottom:before,
.UserTooltip--right-top:after,
.UserTooltip--right-top:before,
.UserTooltip--right:after,
.UserTooltip--right:before {
  border-bottom-color: #0000;
  left: auto;
  margin-left: 0;
  top: 50%;
}

.UserTooltip--left-bottom:before,
.UserTooltip--left-top:before,
.UserTooltip--left:before,
.UserTooltip--right-bottom:before,
.UserTooltip--right-top:before,
.UserTooltip--right:before {
  margin-top: -9px;
}

.UserTooltip--left-bottom:after,
.UserTooltip--left-top:after,
.UserTooltip--left:after,
.UserTooltip--right-bottom:after,
.UserTooltip--right-top:after,
.UserTooltip--right:after {
  margin-top: -8px;
}

.UserTooltip--right-bottom:before,
.UserTooltip--right-top:before,
.UserTooltip--right:before {
  border-left-color: hsl(var(--b3));
  right: -16px;
}

.UserTooltip--right-bottom:after,
.UserTooltip--right-top:after,
.UserTooltip--right:after {
  border-left-color: hsl(var(--b2));
  right: -14px;
}

.UserTooltip--left-bottom:before,
.UserTooltip--left-top:before,
.UserTooltip--left:before {
  border-right-color: hsl(var(--b3));
  left: -16px;
}

.UserTooltip--left-bottom:after,
.UserTooltip--left-top:after,
.UserTooltip--left:after {
  border-right-color: hsl(var(--b2));
  left: -14px;
}

.UserTooltip--left-top:after,
.UserTooltip--left-top:before,
.UserTooltip--right-top:after,
.UserTooltip--right-top:before {
  top: 24px;
}

.UserTooltip--left-bottom:after,
.UserTooltip--left-bottom:before,
.UserTooltip--right-bottom:after,
.UserTooltip--right-bottom:before {
  top: auto;
}

.UserTooltip--left-bottom:before,
.UserTooltip--right-bottom:before {
  bottom: 16px;
}

.UserTooltip--left-bottom:after,
.UserTooltip--right-bottom:after {
  bottom: 17px;
} */
