.map-root-container {
    font-family: 'Akshar';
    color: 'white';
}

.map-outline-card {
    border: 1px solid #FC8551;
    border-radius: 10px;
}

.map-card-subtitle {
    font-size: 2rem !important;
    margin: 0;
}

.map-card-title {
    font-size: 1.2rem !important;
    margin: 0;
}

.shot-description {
    font-size: 1.2rem;
}

.map-item-title {
    font-size: 1.25rem;
}

.map-item-subtitle {
    font-size: 1rem;
}
