.page-link {
    color: var(--text-primary)!important ;
    background-color: var(--background)!important ;
}

.page-item.active .page-link {
    color: var(--text-primary)!important ;
    background-color: var(--background)!important ;
    border-color: #28a745 !important;
}