@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url("https://fonts.googleapis.com/css?family=Azeret+Mono:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

/* :root,
:root::after,
:root::before {
    --background: white;
    --background-alpha: rgba(255, 255, 255, .9);
    --background-secondary: rgba(228, 227, 227, 0.902);
    --background-third: #eeeeee;
    --background-card: white;
    --background-calendar-Today: rgba(228, 227, 227, 0.902);
    --background-calendar:#FAFBFB;
    --text-primary: black;
    --text-secondary: #363636;
    --card-shadow: rgba(0, 0, 0, 0.187);
    --border: rgb(0 0 0 / 13%);
    --hover: #ebebeb;
    --background-even-row: rgb(243, 243, 243);
    --background-column-index: rgb(235, 235, 235);
    --background-modal: rgb(243, 243, 243);
    --column-color: black;
}

[data-theme='dark'],
[data-theme='dark']::after,
[data-theme='dark']::before {
    --background: black;
    --background-secondary: #212121;
    --background-third: #050505;
    --background-card: black;
    --background-calendar-Today: rgba(242, 242, 242, 0.4);
    --background-calendar: #212121;
    --text-primary: white;
    --text-secondary: #dbdbdb;
    --card-shadow: rgba(255, 255, 255, 0.187);
    --border: rgb(255 255 255 / 39%);
    --hover: #383838;
    --background-even-row: #000711;
    --background-column-index: #16181A;
    --background-modal: #010b13;
    --column-color: white;
}

body {
    font-family: Montserrat, Helvetica,Arial,sans-serif;
    font-weight: 300;
    
}

.form-control{
    background-color: var(--background) ; 
    color: var(--text-secondary) ; 
} */

/* Bootstrap corrections */
/* .text-primary { color: #147a26!important }

a { color: #147a26!important }
a.text-primary:hover, a:hover, a:focus { color: #147a26!important }

.tab-container {max-width: none!important;}

.btn-group-vertical > .btn.active, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn:focus, .btn-group > .btn.active, .btn-group > .btn:active, .btn-group > .btn:focus {
    z-index: 0;
}

.extra-sm {
    font-size: .5rem!important;
}


.btn {
    font-size: inherit;
    border-width: 2px;
    background-color: var(--background) ; 
    color: var(--text-secondary) ; 
}

.btn-primary {
    color: #fff;
    background-color: #147a26;
    border-color: #147a26;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus, .btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #0e581c;
    border-color: #0e581c;
    box-shadow: none;
}

.btn-outline-primary {
    color: #147a26;
    border-color: #147a26;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #147a26;
    border-color: #147a26;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus, .btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: none;
    
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #147a26;
    border-color: #147a26;
}
.btn-outline-primary-force:hover {
    background-color: #147a26!important;
    color: #fff!important;
} */

/* bgs */
/* .bg-outline-primary {
    background: none;
    border: 1px solid #147a26;
    border-radius: .25rem;
}

.bg-outline-danger {
    background: none;
    border: 1px solid #dc3545;
    border-radius: .25rem;
} */

/* cols from Bootstrap 5 */
/* @media only screen and (max-width: 1320px){
    .col-xxl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
}

.pt-10 {
    padding-top: 6rem !important;
} */

/* text size */
/* body { font-size: 1rem!important;}
small, .small, .btn-sm { font-size: .75rem!important; }
h1 { font-size: 3.6rem!important; color: var(--text-secondary) ; }
h2 { font-size: 2.8rem!important; color: var(--text-secondary) ;}
@media only screen and (max-width: 777px){
    h2 { font-size: 2rem!important; word-break: break-all; color: var(--text-secondary) ;}
}
h3 { font-size: 1.75rem!important;color: var(--text-secondary) ;}
h4 { font-size: 1.25rem!important;color: var(--text-secondary) ; }
h5, .h5 { font-size: 1.15rem!important; color: var(--text-secondary);}
p{color: var(--text-secondary)}
label {color: var(--text-secondary)} */

/* extra Bootstrap */
/* .link:hover {
    cursor: pointer!important;
}

.mhvh-100 {
    min-height: 100vh;
}

.break-all {
    word-break: break-all;
}

.word-break {
    word-break: break-word;
} */

/* removing marker from li with ul inside */
/* li.sub {
    list-style-type: none;
} */

/* animations */
/* .animation {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: .3s ease all;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideUp {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

.slideUpFade {
    transform: translateY(20px);
    opacity: 0;
    animation-name: slideUp, fadeIn;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */