.tableheader {
  background-color: #66666666;
  font-weight: bold;
}

tr td:nth-child(1) {
  background-color: #66666666; /* this changes first column color. If you change (1) to odd or even, you have a striped column*/
}

span {
  font-weight: bold;
}


tr:hover {
  background-color: green;
}

.up{
  color: rgb(132, 234, 132);
}

.down{
  color: red;
}

.iconcss {
  width: 2ch;
  display: inline-block;
  margin-right: 20px;
  text-align: right;
  position: center;


}

.positioncss {
  width: 2ch;
  display: inline-block;
  margin-right: 20px;
  text-align: right;
}

.teamnamecss {
  width: 10ch;
  display: inline-block;
  margin-right: 20px;
  text-align: left;
}





