@import url("react-big-calendar/lib/css/react-big-calendar.css");

/* Calendar */
.rbc-calendar {
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    padding: 15px;
}
.rbc-header {
    color: #999999;
    font-weight: normal;
}

/* Title */
.rbc-toolbar-label {
    order: 1;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    margin-right: auto;
    text-align: left!important;
}

/* Days */
.rbc-btn-group:nth-of-type(1) {
    order: 2;
    margin-right: auto;
    margin-left: auto;
}

.rbc-btn-group:nth-of-type(1)>button:first-of-type {
    margin-left: auto;
}
.rbc-btn-group:nth-of-type(1)>button:last-of-type {
    margin-right: auto;
}

/* Type of view */
.rbc-btn-group:nth-of-type(3) {
    order: 3;
    margin-left:auto;
}
.rbc-btn-group:nth-of-type(3)>button:first-of-type {
    margin-left: auto;
}

/* Buttons */
.rbc-btn-group {
    display: flex;
}
.rbc-btn-group>button {
    border-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
    border-width: 2px;
    background-color: transparent;
    
    padding: 7px 18px;
    border-color: #147a26;
    color: #147a26;
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
}
.rbc-btn-group>button.rbc-active,
.rbc-btn-group>button:hover,
.rbc-btn-group>button:active,
.rbc-btn-group>button:focus {
    color: #fff!important;
    background-color: #147a26 !important;
    border-color: #147a26 !important;
}

.rbc-toolbar-label, .rbc-btn-group {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

/* Views // Month */
.rbc-month-view {
    border: none;
}
.rbc-date-cell a {
    color: #000!important;
}
.rbc-off-range a {
    color: #b3b3b3!important;
}
.rbc-off-range-bg {
    background-color: rgba(242, 242, 242, 0.4);
}
