.game {
    background-color: rgb(249, 236, 236);
}

.logo {
    height: 5rem;
    width: 5rem;
}

.game-result {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.game-data h4 {
    padding-top: 1rem;
    text-align: center;
}