.mulrange {
    --size: 1.5rem;
    --color: var(--bc);
}

.mulrange.mulrange-xs {
    --size: 1rem;
}

.mulrange.mulrange-sm {
    --size: 1.25rem;
}

.mulrange.mulrange-md {
    --size: 1.5rem;
}

.mulrange.mulrange-lg {
    --size: 2rem;
}

.mulrange.mulrange-primary {
    --color: var(--p);
}

.mulrange.mulrange-secondary {
    --color: var(--s);
}

.mulrange.mulrange-accent {
    --color: var(--a);
}

.mulrange.mulrange-success {
    --color: var(--su);
}

.mulrange.mulrange-warning {
    --color: var(--wa);
}

.mulrange.mulrange-info {
    --color: var(--in);
}

.mulrange.mulrange-error {
    --color: var(--er);
}

.mulrange>*:not(.mulrange-control) {
    pointer-events: none;
}

.mulrange {
    position: relative;
    height: var(--size);
}

.mulrange-control {
    position: absolute;
    opacity: 0;
}

.mulrange-slider {
    position: absolute;
    margin: calc(var(--size) / 3) 0;
    height: calc(var(--size) / 3);
    width: 100%;
    background-color: hsla(var(--bc) / 0.1);
    border-radius: var(--rounded-box, 1rem);
}

.mulrange-ranges,
.mulrange-handles {
    position: absolute;
    width: calc(100% - var(--size));
    height: inherit;
}

.mulrange-ranges>* {
    position: absolute;
    height: inherit;
    padding-left: var(--size);
    box-sizing: content-box;
    background-color: hsla(var(--color) / var(--tw-text-opacity, 1));
    border-radius: var(--rounded-box, 1rem);
}

.mulrange-handles>* {
    position: absolute;
    height: inherit;
    aspect-ratio: 1 / 1;
    background-color: hsla(var(--b1));
    border-radius: 50%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.mulrange-handles>*::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border: 3px solid hsl(var(--color));
    border-radius: 50%;
}