name: Test api-family

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test_api-family.yaml'
      - 'api-family/**/*'
  pull_request:
    paths:
      - '.github/workflows/test_api-family.yaml'
      - 'api-family/**/*'
  workflow_dispatch:

jobs:
  api-family:
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo:6.0.27
        env:
          MONGO_INITDB_DATABASE: family_test
          MONGO_INITDB_ROOT_USERNAME: mongo
          MONGO_INITDB_ROOT_PASSWORD: mongo
        options: >-
          --health-cmd "mongosh --eval 'db.runCommand(\"ping\").ok' --quiet"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 27017:27017

    steps:
      - name: Checkout repository files
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install poetry
        run: |
          pip install --upgrade pip setuptools
          pip install -U poetry

      - name: Install system libraries
        run: sudo apt-get -y install libpq-dev gcc

      - name: Install dependencies
        working-directory: ./api-family
        run: poetry install --no-interaction --no-root

      - name: Run tests
        working-directory: ./api-family
        env:
          MONGO_SERVER: localhost
          MONGO_USER: mongo
          MONGO_PASSWORD: mongo
          MONGO_DB: family_test
        run: poetry run pytest
